@{
  Layout = "_Layout";
}

@model Business.Models.Charity;

<h4>Add a new charity</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(y => y.Name)

    @Html.LabelFor(w => w.Description)
    @Html.TextBoxFor(blah => blah.Description)
    <input type="submit" value="Add Charity" />
}

<p>@Html.ActionLink("Show all charities", "Index")</p>